In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import gmaps.datasets
import requests
# Import the API key.
from config import g_key

In [2]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [3]:
# Import the WeatherPy_vacation.csv file as a new DataFrame.
vacation_data_df = pd.read_csv("weather_data/WeatherPy_vacation.csv")
vacation_data_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,7,Matara,LK,79.07,overcast clouds,5.95,80.54,Amaloh Boutique Resort
1,16,Adrar,MR,89.37,scattered clouds,20.50,-10.07,NaN
2,18,Kapaa,US,84.20,broken clouds,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
3,27,Gizo,SB,84.36,overcast clouds,-8.10,156.84,Imagination Island
4,30,Keningau,MY,78.80,few clouds,5.34,116.16,Sabindo Hotel

In [4]:
vacation_data_df.dtypes

City_ID                  int64
City                    object
Country                 object
Max Temp               float64
Current Description     object
Lat                    float64
Lng                    float64
Hotel Name              object
dtype: object

In [5]:
# Filter the 'vacation_data_df' for the four cities.
Baturaja_df= vacation_data_df.loc[vacation_data_df["City"] == "Baturaja"]
Bengkulu_df = vacation_data_df.loc[vacation_data_df["City"] == "Bengkulu"] 
Padang_df = vacation_data_df.loc[vacation_data_df["City"] == "Padang"]
Japura_df = vacation_data_df.loc[vacation_data_df["City"] == "Japura"]

In [6]:
Baturaja_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
150,554,Baturaja,ID,76.46,few clouds,-4.13,104.17,"HOTEL Sekar Sunja, Baturaja Timur, Ogan Komeri..."

In [7]:
# Get the “values” of the latitude and longitude for Baturaja
Baturaja_df.values

array([[554, 'Baturaja', 'ID', 76.46, 'few clouds', -4.13, 104.17,
        'HOTEL Sekar Sunja, Baturaja Timur, Ogan Komering Ulu']],
      dtype=object)

In [8]:
# Get the “values” of the latitude and longitude for Bengkulu
Bengkulu_df.values

array([[39, 'Bengkulu', 'ID', 78.33, 'overcast clouds', -3.8, 102.27,
        'Grage Hotel Bengkulu']], dtype=object)

In [9]:
# Get the “values” of the latitude and longitude for Padang
Padang_df .values

array([[279, 'Padang', 'ID', 80.01, 'overcast clouds', -0.95, 100.35,
        'Mercure Padang']], dtype=object)

In [10]:
# Get the “values” of the latitude and longitude for Japura
Japura_df.values

array([[47, 'Japura', 'ID', 78.31, 'broken clouds', -0.32, 102.35,
        'KOST dan HOMESTAY RUMAH KITA JOSH']], dtype=object)

In [11]:
# Latitude-longitude pairs
Baturaja = ( -4.13, 104.17)
Bengkulu = (-3.8, 102.27)
Padang = (-0.95, 100.35)
Japura = (-0.32, 102.35)

#For the travel_mode, DRIVING.
fig = gmaps.figure()
Indonesia_vacation_via_driving= gmaps.directions_layer(Baturaja, Japura, waypoints=[Bengkulu, Padang], travel_mode="DRIVING")
fig.add_layer(Indonesia_vacation_via_driving)
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
#Combine the four separate DataFrames for each city into one DataFrame.
Indonesia_vacation_df = pd.concat([Baturaja_df, Bengkulu_df, Padang_df, Japura_df])
Indonesia_vacation_df = Indonesia_vacation_df.reset_index()
Indonesia_vacation_df

,index,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,150,554,Baturaja,ID,76.46,few clouds,-4.13,104.17,"HOTEL Sekar Sunja, Baturaja Timur, Ogan Komeri..."
1,7,39,Bengkulu,ID,78.33,overcast clouds,-3.80,102.27,Grage Hotel Bengkulu
2,76,279,Padang,ID,80.01,overcast clouds,-0.95,100.35,Mercure Padang
3,10,47,Japura,ID,78.31,broken clouds,-0.32,102.35,KOST dan HOMESTAY RUMAH KITA JOSH

In [13]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in Indonesia_vacation_df.iterrows()]

In [14]:
# Create a marker layer map for the four cities.
locations = Indonesia_vacation_df[["Lat", "Lng"]]
max_temp = Indonesia_vacation_df["Max Temp"]
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))