In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Boyolangu,ID,2020-07-09 22:29:15,-8.12,111.89,73.35,89,100,6.11
1,1,Lebu,CL,2020-07-09 22:29:15,-37.62,-73.65,54.01,93,100,24.29
2,2,Qaanaaq,GL,2020-07-09 22:24:34,77.48,-69.36,46.63,55,98,1.41
3,3,Rikitea,PF,2020-07-09 22:29:16,-23.12,-134.97,68.25,66,7,19.13
4,4,Hilo,US,2020-07-09 22:29:16,19.73,-155.09,82.40,65,90,6.93

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds =  city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = clouds ,dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
WindSpeed =  city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = WindSpeed ,dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 76
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Hilo,US,2020-07-09 22:29:16,19.73,-155.09,82.40,65,90,6.93
5,5,Silchar,IN,2020-07-09 22:29:16,24.82,92.80,76.15,95,100,0.51
6,6,Babu,CN,2020-07-09 22:29:16,24.42,111.52,77.95,89,100,3.53
7,7,Butaritari,KI,2020-07-09 22:29:17,3.07,172.79,84.00,75,2,14.14
8,8,Omaha,US,2020-07-09 22:25:03,41.26,-95.94,86.00,48,20,9.17
13,13,Cabo San Lucas,MX,2020-07-09 22:25:05,22.89,-109.91,89.01,70,75,13.87
17,17,Puri,IN,2020-07-09 22:28:09,19.80,85.85,82.40,94,20,6.93
19,19,Atuona,PF,2020-07-09 22:29:19,-9.80,-139.03,79.59,77,2,15.86
20,20,Kapaa,US,2020-07-09 22:25:11,22.08,-159.32,81.00,100,90,17.22
24,24,Atraulia,IN,2020-07-09 22:29:20,26.33,82.95,82.40,100,75,2.24

In [12]:
preferred_cities_df.count()

City_ID       186
City          186
Country       186
Date          186
Lat           186
Lng           186
Max Temp      186
Humidity      186
Cloudiness    186
Wind Speed    186
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp    Lat     Lng Hotel Name
4             Hilo      US     82.40  19.73 -155.09
5          Silchar      IN     76.15  24.82   92.80
6             Babu      CN     77.95  24.42  111.52
7       Butaritari      KI     84.00   3.07  172.79
8            Omaha      US     86.00  41.26  -95.94
13  Cabo San Lucas      MX     89.01  22.89 -109.91
17            Puri      IN     82.40  19.80   85.85
19          Atuona      PF     79.59  -9.80 -139.03
20           Kapaa      US     81.00  22.08 -159.32
24        Atraulia      IN     82.40  26.33   82.95

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
 # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Hilo,US,82.40,19.73,-155.09,Hilo Hawaiian Hotel
5,Silchar,IN,76.15,24.82,92.80,Hotel Borail View
6,Babu,CN,77.95,24.42,111.52,IU Hotel Hezhou Bus Terminal
7,Butaritari,KI,84.00,3.07,172.79,Isles Sunset Lodge
8,Omaha,US,86.00,41.26,-95.94,DoubleTree by Hilton Hotel Omaha Downtown
13,Cabo San Lucas,MX,89.01,22.89,-109.91,Hotel Tesoro Los Cabos
17,Puri,IN,82.40,19.80,85.85,OYO 1577 Hotel Shree Hari Grand
19,Atuona,PF,79.59,-9.80,-139.03,Villa Enata
20,Kapaa,US,81.00,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
24,Atraulia,IN,82.40,26.33,82.95,Pandey pariwar

In [17]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [19]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [20]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))